[D-BUS Service]
Interface=/org/freedesktop/impl/portal/desktop/sailfish/ui
Name=org.freedesktop.impl.portal.desktop.sailfish.ui
#Exec=/usr/bin/invoker --type=silica-qt5 -A -- /usr/bin/xdg-desktop-portal-sailfish-ui --prestart
Exec=/usr/bin/xdg-desktop-portal-sailfish-ui --prestart
