[Desktop Entry]
Type=Application
Name=XDG Desktop File Chooser
Exec=/usr/bin/xdg-desktop-portal-amber-ui
X-Maemo-Service=org.freedesktop.impl.portal.desktop.amber
X-Maemo-Method=org.freedesktop.impl.portal.desktop.amber.ui.openFilePicker
X-Maemo-Object-Path=/org/freedesktop/impl/portal/desktop/amber
NoDisplay=true

[X-Sailjail]
Permissions=UserDirs;RemovableMedia;MediaIndexing
OrganizationName=org.freedesktop.portal.desktop.amber
ApplicationName=dialogs
